<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Helpdesk System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
    body { font-family: Arial, sans-serif; margin: 20px; }
    header { margin-bottom: 20px; }
    nav a { margin-right: 10px; }
    .card { border: 1px solid #ddd; padding: 12px; border-radius: 6px; margin-bottom: 12px; }
    .danger { color: red; }
  </style>
</head>
<body>
{% block content %}
  <header>
    <h1 class="text-center">Helpdesk</h1>
    <nav style="margin:100px 30%; width:40%; padding:20px; background-color:aliceblue;">
      <a href="{% url 'create' %}" class="btn btn-primary">Create Ticket</a> |
      <a href="{% url 'login' %}" class="btn btn-warning"> Agent login</a> |
      <a href="{% url 'agent_dashboard' %}" class="btn btn-warning">Agent Dashboard</a> |
    </nav>
  </header>

  <main>
    {% endblock %}
  </main>
</body>
</html>
