{% extends 'agenthome.html'%}
{% block content %}
<h2 class="text-center">Agent Login</h2>
{% if error %}<p style="color:red">{{ error }}</p>{% endif %}
<div style="margin:100px 30%; width:40%; padding:30px; background-color:aliceblue;">
  <form method="post" action="{% url 'agent_dashboard' %}">
  {% csrf_token %}
  <label>Email:</label><br>
  <input type="email" name="email" required class="form-control"><br>
  <label>Password:</label><br>
  <input type="password" name="password" required class="form-control"><br><br>
  <button type="submit" class="btn btn-primary"style="margin:10px 40%;">Login</button>
</form>
</div>
{% endblock %}